{% extends 'base.html.twig' %}

{% block body %}
    {# bandeau #}
    <div id="bandeau2">
        <div class="bandeau_shadow2">
            <h1>Qui suis-je?</h1>
        </div>
    </div>
    <div class="container contact">
        <div class="row">
            <div class="col-md-4 btn1"><img src="./images/moi.jpg" alt="photographe"><p class="p1"> Moi</p></div>
            <div class="col-md-4 btn2"><img src="./images/contact.jpg" alt="contact"><p class="p2"> Contact</p></div>
            <div class="col-md-4 btn3"><img src="./images/message.jpg" alt="message"><p class="p3"> Ecrivez-moi</p></div>
            <br>
            <div id="moi">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
           <br> <div id="contact">
                Address:<br>
                Keas 69 Str.<br>
                15234, Chalandri<br>
                Athens,<br>
                Greece<br>
                <br>
                +30-2106019311 (landline)<br>
                +30-6977664062 (mobile phone)<br>
                +30-2106398905 (fax)<br>
            </div> <br>
            {# contact formulaire #}
            <div id="message">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" required aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="text">Message</label>
                        <textarea  class="form-control" id="text" placeholder="Enter your message..." required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>


{% endblock %}